<!DOCTYPE html>
<html>

<!-- about32:03-->

<%- include('head/head.ejs'); %>

    <body>

        <div class="page-wrapper">



            <!-- Main Header-->
            <%- include('header/header_tempus.ejs'); %>
                <!--End Main Header -->

                <!--Page Title-->
                <section class="page-title" style="background-image:url(/images/background/1.jpg);">
                    <div class="auto-container">
                        <h2>Programas</h2>
                    </div>
                </section>

                <!--Breadcrumb-->
                <div class="breadcrumb-outer">
                    <div class="auto-container">
                        <ul class="bread-crumb text-center">
                            <li><a href="/">Início</a> <span class="fa fa-angle-right"></span></li>
                            <li><a href="/sobre">TEMPUS </a><span class="fa fa-angle-right"></span></li>
                            <li>Programas</li>
                        </ul>
                    </div>
                </div>
                <!--End Page Title-->



                <!--About Section-->
                <section class="about-section">
                    <div class="auto-container">
                        <div class="row clearfix">

                            <!--Content Column-->
                            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="sec-title">
                                        <h2>O que é o Programa de Estimulação TEMPUS?</h2>
                                    </div>
                                    <div class="text">
                                        <p>É um programa de estimulação cognitiva, sensorial e motora constituído por: </p>
                                        <p><b>1.</b> Plano de capacitação - Programa TEMPUS;</p>
                                        <p><b>2.</b> Caixa do TEMPU (11 ferramentas);</p>
                                        <p><b>3.</b> App de acompanhamento+tablet;</p>
                                        <p><b>O programa é um todo?</b></p>
                                        <p>Não. Pode adquirir a Caixa do TEMPU sozinha. Não garantimos a sua rentabilização máxima, nem um retorno exponencial do investimento.</p>

                                    </div>
                                </div>
                            </div>

                            <!--Video Column-->
                            <div class="video-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner-column">

                                    <!--Video Box-->
                                    <div class="video-box">
                                        <figure class="image">
                                            <img src="/images/resource/video-img.jpg" alt="">
                                        </figure>
                                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-arrow"></span></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!--End About Section-->

                <!--Fluid Section One-->
                <section class="fluid-section-one">
                    <div class="outer-container clearfix">

                        <!--Image Column-->
                        <div class="image-column" style="background-image:url(/images/resource/image-1.jpg);">
                            <figure class="image-box"><img src="/images/resource/image-1.jpg" alt=""></figure>
                        </div>

                        <!--Content Column-->
                        <div class="content-column">
                            <div class="inner-column">
                                <h2>Porquê o Programa TEMPUS?</h2>
                                <div class="text">
                                    <p>O estudo realizado, por nós em parceria com a CNIS – Confederação Nacional de Instituições de Solidariedade, e o IPB – Instituto Politécnico de Bragança, em 2021 traz a luz uma necessidade real, os resultados (link
                                        para o estudo) que se verificaram expõem claramente a luta que as Instituições travam para conseguir com pouco fazer o impossível. Por um lado, assumiu-se claramente a necessidade de fazer mais estimulação preventiva
                                        e combativa ambas imprescindíveis, como nos fazem saber. Por outro revela-se a inexistência de recursos que facilitem esta tarefa, são necessárias mais ferramentas, programas específicos, formação. Não podemos resolver
                                        os problemas de falta de recursos humanos, mas conseguimos rentabilizá-los, os desafios da formação respondemos com capacitação, e acrescentamos ferramentas de estimulação cognitiva, sensorial e motora.
                                    </p>

                                </div>
                            </div>
                        </div>
                </section>
                <!--End Fluid Section One-->

                <!--How to it works-->
                <section class="about-section">
                    <div class="auto-container">
                        <div class="row clearfix">

                            <!--Content Column-->
                            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="sec-title">
                                        <h2>O que o diferencia de outros programas e ferramentas de estimulação?</h2>
                                    </div>
                                    <div class="text">
                                        <p>As ferramentas são multifuncionais, podem ser usadas por um só utilizador ou em grupo, podem ser utilizadas com dinamização técnica ou em autoestimulação. Tem variáveis que permitem que as 11 ferramentas se transformem
                                            em 30 atividades diferentes. Foram construídas tendo em atenção a dimensão, peso, material, côr, padrão, focados no individuo, no seu processo de envelhecimento como um todo e não numa patologia. A sensorização
                                            das ferramentas permite exponenciar a estimulação a cada utilização, nas várias vertentes.</p>
                                        <p>A AppCompanion permite remotamente acompanhar o processo de evolução ou regressão do idoso, permitindo distribuir e focar a intervenção do técnico nos clientes com maior necessidade em tempo real. Cria alertas,
                                            sobre alterações de utilização, tempo e resultados; Permite acrescentar ferramentas de utilização própria, transformando-as numa componente do programa. </p>
                                        <p>O plano de capacitação permite que o técnico responsável seja capacitado no programa de forma a rentabilizar ao máximo todas as ferramentas o método e a aplicação, para transformar o investimento numa fonte de retorno.
                                            Apenas a capacitação de um técnico permite através do método de disseminação, abranger toda a equipa rentabilizando de forma exponencial o Programa TEMPUS.</p>
                                    </div>
                                </div>
                            </div>

                            <!--Video Column-->
                            <div class="video-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner-column">

                                    <!--Video Box-->
                                    <div class="video-box" style="top: 288px;">
                                        <figure class="image">
                                            <img src="/images/resource/video-img.jpg" alt="">
                                        </figure>
                                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-arrow"></span></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!--End How to it works-->

                <!--Partners Section-->
                <section class="team-section">
                    <div class="auto-container">
                        <!--Sec Title-->
                        <div class="sec-title centered">
                            <h2>Parcerias</h2>
                        </div>

                        <div class="row clearfix">

                            <!--Partners Member-->
                            <div class="team-member col-lg-3 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <div class="image-box">
                                        <figure class="image"><img src="/images/resource/logo/CeDRI.png" alt=""></figure>
                                        <ul class="social-icon-two">
                                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="lower-content">
                                        <h6><a href="https://cedri.ipb.pt/">CeDRI</a></h6>
                                        <div class="designation">Research Centre in Digitalization and Intelligent Robotics</div>
                                        <div class="text">Unidade de Pesquisa Interdisciplinar</div>
                                    </div>
                                </div>
                            </div>

                            <!--Partners Member-->
                            <div class="team-member col-lg-3 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                                    <div class="image-box">
                                        <figure class="image"><img src="/images/resource/logo/Demola Global Oy.png" alt=""></figure>
                                        <ul class="social-icon-two">
                                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="lower-content">
                                        <h6><a href="https://www.demola.net/">DEMOLA</a></h6>
                                        <div class="designation">Demola Global</div>
                                        <div class="text">Uma Comunidade Global de Especialistas em Cocriação</div>
                                    </div>
                                </div>
                            </div>

                            <!--Partners Member-->
                            <div class="team-member col-lg-3 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
                                    <div class="image-box">
                                        <figure class="image"><img src="/images/resource/logo/IPB.png" alt=""></figure>
                                        <ul class="social-icon-two">
                                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="lower-content">
                                        <h6><a href="https://portal3.ipb.pt/index.php/pt/">IPB</a></h6>
                                        <div class="designation">Instituto Politécnico de Bragança</div>
                                        <div class="text">Uma Instituição Pública de Ensino Superior</div>
                                    </div>
                                </div>
                            </div>

                            <!--Partners Member-->
                            <div class="team-member col-lg-3 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeIn" data-wow-delay="900ms" data-wow-duration="1500ms">
                                    <div class="image-box">
                                        <figure class="image"><img src="/images/resource/logo/ESSa.png" alt=""></figure>
                                        <ul class="social-icon-two">
                                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="lower-content">
                                        <h6><a href="https://www.essa.ipb.pt/index.php/essa/a-escola">ESSa</a></h6>
                                        <div class="designation">Escola Superior de Saúde de Bragança</div>
                                        <div class="text">É uma das cinco Escolas Integradas no Instituto Politécnico de Bragança</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>
                <!--End partners Section-->


                <!--Subscribe Style One-->
                <%- include('Inscreva-se/inscrever.ejs'); %>
                    <!--End Subscribe Style One-->

                    <!--Main Footer-->
                    <div class="bottom-parallax">
                        <%- include('footer/footer.ejs'); %>
                    </div>

                    </div>
                    <!--End pagewrapper-->


                    <script src="/js/jquery.js"></script>
                    <script src="/js/popper.min.js"></script>
                    <script src="/js/bootstrap.min.js"></script>
                    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
                    <script src="/js/jquery.fancybox.js"></script>
                    <script src="/js/appear.js"></script>
                    <script src="/js/owl.js"></script>
                    <script src="/js/wow.js"></script>
                    <script src="/js/slick.js"></script>
                    <script src="/js/jquery-ui.js"></script>
                    <script src="/js/script.js"></script>

                    <!--Google Map APi Key-->
                    <script src="http://maps.google.com/maps/api/js?key=AIzaSyD39_Mb1wKUcuRD-0KPmQT6SQHhEMVX1O0"></script>
                    <script src="/js/map-script.js"></script>
                    <!--End Google Map APi-->

                    <script src="/js/color-settings.js"></script>

    </body>

    <!-- about32:11-->

</html>