<!DOCTYPE html>
<html>

<!-- services32:39-->

<%- include('head/head.ejs'); %>

    <body>

        <div class="page-wrapper">



            <!-- Main Header-->
            <%- include('header/header_publicacao.ejs'); %>
                <!--End Main Header -->

                <!--FullScreen Menu-->

                <!--End FullScreen Menu-->

                <!--Page Title-->
                <section class="page-title" style="background-image:url(images/background/2.jpg);">
                    <div class="auto-container">
                        <h2>Publicações</h2>
                    </div>
                </section>

                <!--Breadcrumb-->
                <div class="breadcrumb-outer">
                    <div class="auto-container">
                        <ul class="bread-crumb text-center">
                            <li><a href="/">Início</a> <span class="fa fa-angle-right"></span></li>
                            <li>Publicações</li>
                        </ul>
                    </div>
                </div>
                <!--End Page Title-->

                <!--News Section-->
                <section class="news-section">
                    <div class="auto-container">
                        <!--Sec Title-->
                        <div class="sec-title centered">
                            <h2>Publicidade TEMPUS</h2>
                        </div>

                        <div class="row clearfix">

                            <!--News Block-->
                            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="/images/resource/news-1.jpg" alt="" /></a>
                                        <ul class="category">
                                            <li><a href="blog-single.html">Initiative, </a></li>
                                            <li><a href="blog-single.html">Programs</a></li>
                                        </ul>
                                    </div>
                                    <div class="lower-content">
                                        <div class="author">
                                            Golifa Mona
                                        </div>
                                        <h5><a href="blog-single.html">Possession of my entire soul</a></h5>
                                        <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which.</div>
                                        <ul class="post-date">
                                            <li>14th August, 2019</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--News Block-->
                            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="/images/resource/news-2.jpg" alt="" /></a>
                                        <ul class="category">
                                            <li><a href="blog-single.html">Sales</a></li>
                                        </ul>
                                    </div>
                                    <div class="lower-content">
                                        <div class="author">
                                            Mark Mona
                                        </div>
                                        <h5><a href="blog-single.html">Even the powerful Pointing</a></h5>
                                        <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which.</div>
                                        <ul class="post-date">
                                            <li>21st July, 2019</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--News Block-->
                            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="/images/resource/news-3.jpg" alt="" /></a>
                                        <ul class="category">
                                            <li><a href="blog-single.html">Factory, </a></li>
                                            <li><a href="blog-single.html">Industry</a></li>
                                        </ul>
                                    </div>
                                    <div class="lower-content">
                                        <div class="author">
                                            Dellin Mark
                                        </div>
                                        <h5><a href="blog-single.html">Pityful a rethoric question ran</a></h5>
                                        <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which.</div>
                                        <ul class="post-date">
                                            <li>10th July, 2019</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>
                <!--End News Section-->

                <!--Subscribe Style One-->
                <%- include('Inscreva-se/inscrever.ejs'); %>
                    <!--End Subscribe Style One-->

                    <!--Main Footer-->
                    <div class="bottom-parallax">
                        <%- include('footer/footer.ejs'); %>
                    </div>

        </div>
        <!--End pagewrapper-->


        <script src="js/jquery.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="js/jquery.fancybox.js"></script>
        <script src="js/appear.js"></script>
        <script src="js/owl.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/slick.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/script.js"></script>
        <script src="js/color-settings.js"></script>

    </body>

    <!-- services32:51-->

</html>