<!--Subscribe Style One-->
<section class="subscribe-style-one alternate">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <h2>Inscreva-se no programa TEMPUS da empresa AddedSolutions</h2>
                <div class="text">Inscreva-se hoje para dicas, dicas e as últimas atualizações.</div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <form method="post" action="#">
                    <div class="form-group clearfix">
                        <input type="email" name="email" value="" placeholder="Enter Email Address" required>
                        <button type="submit" class="theme-btn btn-style-one">Inscreva-se</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--End Subscribe Style One-->