<footer class="main-footer">
    <!--Widgets Section-->
    <div class="auto-container">

        <div class="widgets-section">
            <div class="row clearfix">

                <!--Footer Column-->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <!--About Widget-->
                    <div class="footer-widget logo-widget">
                        <div class="logo">
                            <a href="/"><img src="/assets/img/AddedSolutions.jpg" alt="" /></a>
                        </div>
                        <div class="text">O estudo realizado, por nós em parceria com a CNIS – Confederação Nacional de Instituições de Solidariedade, e o IPB – Instituto Politécnico de Bragança, em 2021 traz a luz uma necessidade real...</div>
                        <a href="/sobre" class="theme-btn btn-style-two">Ler Mais</a>
                    </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <!--About Widget-->
                    <div class="footer-widget links-widget">
                        <h5>Links Úteis</h5>
                        <div class="row clearfix">
                            <ul class="link-list col-md-6 col-sm-6 col-xs-12">
                                <li><a href="#">Crescimento do negócio</a></li>
                                <li><a href="#">Sustentabilidade</a></li>
                                <li><a href="#">Desempenho</a></li>
                                <li><a href="#">Informações do cliente</a></li>
                                <li><a href="#">Organização</a></li>
                                <li><a href="#">Análise avançada</a></li>
                            </ul>
                            <ul class="link-list col-md-6 col-sm-6 col-xs-12">
                                <li><a href="/sobre/programas">Sobre o Programa</a></li>
                                <li><a href="#">Perguntas frequentes do cliente</a></li>
                                <li><a href="#">Depoimentos</a></li>
                                <li><a href="#">Conheça nossa equipe</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <!--About Widget-->
                    <div class="footer-widget news-widget">
                        <h5>Últimas notícias</h5>

                        <div class="news-widget-block">
                            <div class="inner">
                                <div class="icon flaticon-world"></div>
                                <div class="post-date">14 de setembro de 2022</div>
                                <div class="text"><a href="#">Eventos científico- pedagógicos (Congressos, palestras, seminário, simpósios). Criação do programa, contactos, divulgação, estruturação, execução e avaliação do evento. Gestão do evento, das equipas e das comissões envolvidas</a></div>
                            </div>
                        </div>

                        <div class="news-widget-block">
                            <div class="inner">
                                <div class="icon flaticon-graduation-cap"></div>
                                <div class="post-date">14 de agosto de 2022</div>
                                <div class="text"><a href="#">Eventos Sociais (celebrações empresariais). Organização do programa em função dos objetivos e orçamento do cliente, definição do melhor local em função do programa e do orçamento. Acréscimo de detalhes diferenciadores em todos os eventos.</a></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!--Footer Info Section-->
        <div class="footer-info-section">
            <div class="row clearfix">

                <!--Info Block-->
                <div class="info-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="icon flaticon-pin"></div>
                        <h6>Endereço</h6>
                        <div class="text">Porto, Portugal.</div>
                    </div>
                </div>

                <!--Info Block-->
                <div class="info-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="icon flaticon-technology-1"></div>
                        <h6>Ligue para nós</h6>
                        <div class="text">Front Desk: +351 999999999</div>
                    </div>
                </div>

                <!--Info Block-->
                <div class="info-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="icon flaticon-web"></div>
                        <h6>E-mail em</h6>
                        <div class="text">tempus@addedsolutions.com</div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="column col-md-6 col-sm-12 col-xs-12">
                    <div class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></div>
                </div>
                <div class="nav-column col-md-6 col-sm-12 col-xs-12">
                    <ul class="footer-nav">
                        <li><a href="#">Legal</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End Footer Bottom-->

</footer>